/**
*
* Social account buttons
*
**/

.social {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 10px 10px 0px 0px;
  border: 3px $colorGrayLight solid;
  border-radius: 5px;
  width:200px;
  height: 70px;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  color: $colorText;
  background-color: $colorGrayBackground;
  position:relative;
  overflow: hidden;

  &:visited, &:hover {
    color: $colorText;
  }

  .fa-twitter {
    color: #00aced;
  }
  .fa-github {
    color: #333;
  }

  &:hover {
    .normal {
      left: -100%;
    }
    .hover {
      left: 0px;
    }
  }

  .normal {
    left: 0px;
  }

  .hover {
    font-size: 0.6em;
    margin-top:3px;
    left: 100%;
  }

  .hover, .normal {
    position: absolute;
    width: 100%;
    text-align: center;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}
